<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Page</title>

    {% load static %}

    <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap.min.css' %}">
    <script scr="{% static 'bootstrap/css/bootstrap.min.js' %}"></script>

</head>
<body>

<h1 class="text-center text-warning mt-3 mb-3">PRODUCTS INFORMATION</h1>
<P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut delectus doloremque, fugit laborum magni maxime modi mollitia numquam officiis quaerat quam reiciendis, reprehenderit sequi sint unde voluptatibus? Architecto, perferendis.</P>

<table class="table table-bordered container">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Quality</th>
        <th>Product Quantity</th>
    </tr>



    <tr class="table-info">
        <td>1</td>
        <td>Wheat</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>

    <tr class="table-danger">
        <td>2</td>
        <td>Rice</td>
        <td>Good</td>
        <td>250 bags</td>
    </tr>

    <tr class="table-warning">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>

    <tr class="table-light">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>

    <tr class="table-success">
        <td>3</td>
        <td>Sugar</td>
        <td>Good</td>
        <td>200 bags</td>
    </tr>





</table>

</body>
</html>